.footer {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.footer::before {
  bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  content: "";
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: -1;
}

.footer__items-left {
  font-size: 14px;
  color: #868686;
}

.footer__items-completed-clear {
  border: none;
  font-size: 14px;
  color: #868686;
  background: inherit;
  cursor: pointer;
}
